*~
/bin/
/db/
/dbd/
/include/
/lib/
/cfg/
O.*/
html/
rtf
*.local
.DS_Store
.vscode

#documentation output
epics-*
*.pdf
#*.aux
#*.log
#*.nav
#*.tex
#*.toc
#*.vrb

envPaths
.project
.cproject
.settings

*.config
*.creator
*.creator.user
*.files
*.includes
